<nav class="navbar navbar-expand-md navbar-light bg-light sub-menu">
    <div class="container">
        <a href="/home"><img src="/Images/Logo.jpg" class="m-0 p-0 ml-0" alt=""
                style="width: 250px; height: 150px;"></a>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home"><i class="bi bi-house"></i>Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#fruits"><i class="bi bi-backpack3"></i>Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/checkout"><i class="bi bi-cart-fill"></i>Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact"><i class="bi bi-telephone-fill"></i>Contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="bi bi-person"></i> Profile
                    </a>
                    <div class="dropdown-menu" aria-labelledby="profileDropdown">
                        <a class="dropdown-item" href="/templates/views/adminDashboard.hbs">Dashboard</a>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>
            </ul>
            <a class="btn btn-primary" href="{{link}}"><i class="{{opt1}}"></i> {{opt2}} <i class="{{opt3}}"></i>{{opt4}}</a>
        </div>
    </div>
</nav>
